
.portfolio-body{
    text-align: center;
    margin: 60px;
 
}
.works-link,
.about,
.contact{
    padding: 15px 10px;
    background:#c3b9ea;
    border-radius: 15px;
    color:black;
    text-decoration: none;
  margin-top: 40px;
  
}
.links a{
    margin: 20px;
}

.about-description{
    padding:90px 60px;
}
.linkedin,
.inst,
.email{
    padding: 10px 10px;
    background:#c3b9ea;
    border-radius: 15px;
    color:black;
    text-decoration: none;
    margin: 20px;
    margin-right: 20px;
}
.first,.second,.thirt{
    display: inline-block;
    padding:50px;
}

@media(max-width:700px){
    .first,.second,.thirt{
       padding: 20px;
    }
}
.skills{
    display: flex;
    justify-content:center;
}
.contacts{
    display: flex;
    justify-content: flex-start;
    
}
#html,
#css,
#js,
#boots,
#git{
    margin-right: 20px;
}
